# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache
ios/.gitignore
ios/App/Podfile
ios/App/App/AppDelegate.swift
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/App/App/Info.plist
ios/App/App/Assets.xcassets/Contents.json
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
ios/App/App/Base.lproj/LaunchScreen.storyboard
ios/App/App/Base.lproj/Main.storyboard
ios/App/App.xcodeproj/project.pbxproj
ios/App/App.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ios/App/App.xcworkspace/contents.xcworkspacedata
ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
package-lock.json
