.user_title {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  font-size: 15pt;
}
.user_pic {
  margin-right: 5vw;
}
.card_section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vh;
}
.card_title {
  margin-top: auto;
  margin-bottom: auto;
}
.card_value {
  text-align: right;
}
.btn_logout {
  margin-top: 5vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.btn_quit {
  margin-top: 2vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.border_line {
  border: 0.1px solid lightgray;
}
.frined_title {
  width: 97%;
  margin-left: auto;
}
.freind_list {
  min-height: 11vh;
}
.modify_avartar{
  display: flex;
  justify-content: space-evenly;
    align-items: center;
}
.container_avartar{
}
.back{
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff), 
  linear-gradient(to right, red 0%,  orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.modify_title{
  padding-top: 5vh;
  text-align: center;
  padding-bottom: 2vh;
}
.my_close_btn{
  margin-bottom: 10vh;
}
.my_modify_btn{
  margin-top: 5vh;
  margin-bottom: 2vh;
}
